.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100fr;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 5px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 5px solid #E38C1E;
}
main > p{
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 300px;
    height: 100px;
    background-color: rgb(253, 168, 232);
}

html{
    box-sizing: border-box;
}
* {box-sizing: inherit;
}

div {
    margin: 6px;
    padding: 1px;
    width: 50px;
    height: 50px;
}
footer {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 24px;
    position: static;
    bottom: 0px;
    left: 50px;
    right: 0px;
    background-color: rgb(222, 178, 255);
}

p{
    margin: 6px;
    padding: 6px;
    width: 200px;
    height: 79px;
}

footer > p {
    margin: 6px;
    padding: 6px;
    width: 200px;
    height: 25px;
}
